@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kõik, kellel on hinnetega korras:</h1>
    <h1 class="display-4">MAKE NEW LANDINGPAGE</h1>
    <hr />
    <h1 class="display-4">Kui ei ole hinded korras, siis teeb hinded korda.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
